{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header text-center">
        Welcome
        {{ app.user ? app.user.email : 'Aquanauts' }}!
    </h1>
    <div>
        <button class="btn btn-block btn-success btn-lg"><a href="{{ path('app_genus_list') }}" style="color: #fff;">List of Genuses</a></button>
    </div>
{% endblock %}
